
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  animation: skyAnimation 60s linear infinite;
}

@keyframes skyAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
#ui {
  position: absolute;
  top: 50%;
  left: 50%;
}
#ui .cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 380px;
  background: linear-gradient(90deg, #ffc401, #fc761d);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0 0 50px 10px rgba(200, 0, 0, 0.5);
}
#ui .sun {
  position: absolute;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);
  background: #000;
  filter: blur(10px) contrast(15);
}
#ui .sun_border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border: 15px solid yellow;
  border-radius: 100%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
#ui .sun_fire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}
#ui .sun_fire_inner {
  box-sizing: border-box;
}
#ui .sun_fire:nth-child(1) {
  animation: sunFire 8542ms infinite linear;
}
#ui .sun_fire:nth-child(1) .sun_fire_inner {
  width: 137px;
  height: 137px;
  border-top: 11px solid orange;
  border-right: 7px solid orange;
  border-bottom: 11px solid orange;
  border-left: 8px solid orange;
  border-radius: 46% 46% 19% 79%;
  animation: sunFireInner 4948ms infinite alternate linear;
}
#ui .sun_fire:nth-child(2) {
  animation: sunFire 6209ms infinite linear;
}
#ui .sun_fire:nth-child(2) .sun_fire_inner {
  width: 116px;
  height: 116px;
  border-top: 8px solid orange;
  border-right: 10px solid orange;
  border-bottom: 10px solid orange;
  border-left: 10px solid orange;
  border-radius: 12% 68% 60% 49%;
  animation: sunFireInner 3124ms infinite alternate linear;
}
#ui .sun_fire:nth-child(3) {
  animation: sunFire 9530ms infinite linear;
}
#ui .sun_fire:nth-child(3) .sun_fire_inner {
  width: 127px;
  height: 127px;
  border-top: 10px solid orange;
  border-right: 14px solid orange;
  border-bottom: 12px solid orange;
  border-left: 10px solid orange;
  border-radius: 31% 62% 63% 33%;
  animation: sunFireInner 4212ms infinite alternate linear;
}
#ui .sun_fire:nth-child(4) {
  animation: sunFire 10282ms infinite linear;
}
#ui .sun_fire:nth-child(4) .sun_fire_inner {
  width: 45px;
  height: 45px;
  border-top: 11px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  border-left: 6px solid orange;
  border-radius: 35% 34% 46% 72%;
  animation: sunFireInner 3806ms infinite alternate linear;
}
#ui .sun_fire:nth-child(5) {
  animation: sunFire 8056ms infinite linear;
}
#ui .sun_fire:nth-child(5) .sun_fire_inner {
  width: 128px;
  height: 128px;
  border-top: 9px solid orange;
  border-right: 8px solid orange;
  border-bottom: 6px solid orange;
  border-left: 12px solid orange;
  border-radius: 18% 39% 47% 49%;
  animation: sunFireInner 2158ms infinite alternate linear;
}
#ui .sun_fire:nth-child(6) {
  animation: sunFire 9325ms infinite linear;
}
#ui .sun_fire:nth-child(6) .sun_fire_inner {
  width: 113px;
  height: 113px;
  border-top: 15px solid orange;
  border-right: 10px solid orange;
  border-bottom: 10px solid orange;
  border-left: 13px solid orange;
  border-radius: 12% 30% 65% 19%;
  animation: sunFireInner 2830ms infinite alternate linear;
}
#ui .sun_fire:nth-child(7) {
  animation: sunFire 10973ms infinite linear;
}
#ui .sun_fire:nth-child(7) .sun_fire_inner {
  width: 92px;
  height: 92px;
  border-top: 13px solid orange;
  border-right: 13px solid orange;
  border-bottom: 7px solid orange;
  border-left: 13px solid orange;
  border-radius: 26% 11% 38% 43%;
  animation: sunFireInner 2358ms infinite alternate linear;
}
#ui .sun_fire:nth-child(8) {
  animation: sunFire 8018ms infinite linear;
}
#ui .sun_fire:nth-child(8) .sun_fire_inner {
  width: 66px;
  height: 66px;
  border-top: 14px solid orange;
  border-right: 11px solid orange;
  border-bottom: 13px solid orange;
  border-left: 15px solid orange;
  border-radius: 49% 59% 55% 11%;
  animation: sunFireInner 3453ms infinite alternate linear;
}
#ui .sun_fire:nth-child(9) {
  animation: sunFire 10673ms infinite linear;
}
#ui .sun_fire:nth-child(9) .sun_fire_inner {
  width: 45px;
  height: 45px;
  border-top: 11px solid orange;
  border-right: 10px solid orange;
  border-bottom: 7px solid orange;
  border-left: 14px solid orange;
  border-radius: 70% 11% 61% 57%;
  animation: sunFireInner 2369ms infinite alternate linear;
}
#ui .sun_fire:nth-child(10) {
  animation: sunFire 10640ms infinite linear;
}
#ui .sun_fire:nth-child(10) .sun_fire_inner {
  width: 63px;
  height: 63px;
  border-top: 14px solid orange;
  border-right: 7px solid orange;
  border-bottom: 13px solid orange;
  border-left: 6px solid orange;
  border-radius: 19% 40% 21% 11%;
  animation: sunFireInner 4556ms infinite alternate linear;
}
#ui .sun_fire:nth-child(11) {
  animation: sunFire 10698ms infinite linear;
}
#ui .sun_fire:nth-child(11) .sun_fire_inner {
  width: 113px;
  height: 113px;
  border-top: 8px solid orange;
  border-right: 10px solid orange;
  border-bottom: 10px solid orange;
  border-left: 10px solid orange;
  border-radius: 49% 78% 28% 21%;
  animation: sunFireInner 2728ms infinite alternate linear;
}
#ui .sun_fire:nth-child(12) {
  animation: sunFire 7594ms infinite linear;
}
#ui .sun_fire:nth-child(12) .sun_fire_inner {
  width: 99px;
  height: 99px;
  border-top: 13px solid orange;
  border-right: 13px solid orange;
  border-bottom: 8px solid orange;
  border-left: 7px solid orange;
  border-radius: 47% 34% 28% 13%;
  animation: sunFireInner 4066ms infinite alternate linear;
}
#ui .sun_fire:nth-child(13) {
  animation: sunFire 6788ms infinite linear;
}
#ui .sun_fire:nth-child(13) .sun_fire_inner {
  width: 137px;
  height: 137px;
  border-top: 7px solid orange;
  border-right: 13px solid orange;
  border-bottom: 14px solid orange;
  border-left: 13px solid orange;
  border-radius: 39% 12% 60% 18%;
  animation: sunFireInner 2948ms infinite alternate linear;
}
#ui .sun_fire:nth-child(14) {
  animation: sunFire 14253ms infinite linear;
}
#ui .sun_fire:nth-child(14) .sun_fire_inner {
  width: 64px;
  height: 64px;
  border-top: 11px solid orange;
  border-right: 7px solid orange;
  border-bottom: 11px solid orange;
  border-left: 7px solid orange;
  border-radius: 36% 14% 32% 64%;
  animation: sunFireInner 2565ms infinite alternate linear;
}
#ui .sun_fire:nth-child(15) {
  animation: sunFire 13884ms infinite linear;
}
#ui .sun_fire:nth-child(15) .sun_fire_inner {
  width: 115px;
  height: 115px;
  border-top: 6px solid orange;
  border-right: 8px solid orange;
  border-bottom: 7px solid orange;
  border-left: 15px solid orange;
  border-radius: 75% 18% 68% 37%;
  animation: sunFireInner 3685ms infinite alternate linear;
}
#ui .sun_fire:nth-child(16) {
  animation: sunFire 13767ms infinite linear;
}
#ui .sun_fire:nth-child(16) .sun_fire_inner {
  width: 133px;
  height: 133px;
  border-top: 15px solid orange;
  border-right: 8px solid orange;
  border-bottom: 9px solid orange;
  border-left: 12px solid orange;
  border-radius: 48% 79% 38% 12%;
  animation: sunFireInner 4314ms infinite alternate linear;
}
#ui .sun_fire:nth-child(17) {
  animation: sunFire 5194ms infinite linear;
}
#ui .sun_fire:nth-child(17) .sun_fire_inner {
  width: 114px;
  height: 114px;
  border-top: 7px solid orange;
  border-right: 9px solid orange;
  border-bottom: 10px solid orange;
  border-left: 14px solid orange;
  border-radius: 50% 17% 65% 27%;
  animation: sunFireInner 4367ms infinite alternate linear;
}
#ui .sun_fire:nth-child(18) {
  animation: sunFire 14067ms infinite linear;
}
#ui .sun_fire:nth-child(18) .sun_fire_inner {
  width: 87px;
  height: 87px;
  border-top: 6px solid orange;
  border-right: 8px solid orange;
  border-bottom: 8px solid orange;
  border-left: 7px solid orange;
  border-radius: 36% 50% 58% 76%;
  animation: sunFireInner 4507ms infinite alternate linear;
}
#ui .sun_fire:nth-child(19) {
  animation: sunFire 13203ms infinite linear;
}
#ui .sun_fire:nth-child(19) .sun_fire_inner {
  width: 99px;
  height: 99px;
  border-top: 9px solid orange;
  border-right: 9px solid orange;
  border-bottom: 9px solid orange;
  border-left: 12px solid orange;
  border-radius: 30% 27% 15% 30%;
  animation: sunFireInner 4448ms infinite alternate linear;
}
#ui .sun_fire:nth-child(20) {
  animation: sunFire 7926ms infinite linear;
}
#ui .sun_fire:nth-child(20) .sun_fire_inner {
  width: 136px;
  height: 136px;
  border-top: 11px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 69% 19% 40% 44%;
  animation: sunFireInner 4148ms infinite alternate linear;
}
#ui .sun_fire:nth-child(21) {
  animation: sunFire 5517ms infinite linear;
}
#ui .sun_fire:nth-child(21) .sun_fire_inner {
  width: 53px;
  height: 53px;
  border-top: 9px solid orange;
  border-right: 12px solid orange;
  border-bottom: 13px solid orange;
  border-left: 13px solid orange;
  border-radius: 77% 12% 43% 44%;
  animation: sunFireInner 4257ms infinite alternate linear;
}
#ui .sun_fire:nth-child(22) {
  animation: sunFire 6152ms infinite linear;
}
#ui .sun_fire:nth-child(22) .sun_fire_inner {
  width: 72px;
  height: 72px;
  border-top: 7px solid orange;
  border-right: 11px solid orange;
  border-bottom: 14px solid orange;
  border-left: 8px solid orange;
  border-radius: 50% 36% 69% 73%;
  animation: sunFireInner 3830ms infinite alternate linear;
}
#ui .sun_fire:nth-child(23) {
  animation: sunFire 13792ms infinite linear;
}
#ui .sun_fire:nth-child(23) .sun_fire_inner {
  width: 139px;
  height: 139px;
  border-top: 13px solid orange;
  border-right: 8px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 71% 75% 80% 11%;
  animation: sunFireInner 3437ms infinite alternate linear;
}
#ui .sun_fire:nth-child(24) {
  animation: sunFire 11478ms infinite linear;
}
#ui .sun_fire:nth-child(24) .sun_fire_inner {
  width: 99px;
  height: 99px;
  border-top: 9px solid orange;
  border-right: 7px solid orange;
  border-bottom: 8px solid orange;
  border-left: 10px solid orange;
  border-radius: 51% 77% 57% 23%;
  animation: sunFireInner 2510ms infinite alternate linear;
}
#ui .sun_fire:nth-child(25) {
  animation: sunFire 12230ms infinite linear;
}
#ui .sun_fire:nth-child(25) .sun_fire_inner {
  width: 44px;
  height: 44px;
  border-top: 10px solid orange;
  border-right: 8px solid orange;
  border-bottom: 12px solid orange;
  border-left: 14px solid orange;
  border-radius: 15% 33% 45% 30%;
  animation: sunFireInner 4188ms infinite alternate linear;
}
#ui .sun_fire:nth-child(26) {
  animation: sunFire 13937ms infinite linear;
}
#ui .sun_fire:nth-child(26) .sun_fire_inner {
  width: 95px;
  height: 95px;
  border-top: 12px solid orange;
  border-right: 11px solid orange;
  border-bottom: 9px solid orange;
  border-left: 11px solid orange;
  border-radius: 65% 43% 57% 41%;
  animation: sunFireInner 3348ms infinite alternate linear;
}
#ui .sun_fire:nth-child(27) {
  animation: sunFire 13744ms infinite linear;
}
#ui .sun_fire:nth-child(27) .sun_fire_inner {
  width: 139px;
  height: 139px;
  border-top: 7px solid orange;
  border-right: 13px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 66% 28% 27% 36%;
  animation: sunFireInner 4700ms infinite alternate linear;
}
#ui .sun_fire:nth-child(28) {
  animation: sunFire 9026ms infinite linear;
}
#ui .sun_fire:nth-child(28) .sun_fire_inner {
  width: 87px;
  height: 87px;
  border-top: 9px solid orange;
  border-right: 8px solid orange;
  border-bottom: 11px solid orange;
  border-left: 15px solid orange;
  border-radius: 55% 17% 21% 27%;
  animation: sunFireInner 3739ms infinite alternate linear;
}
#ui .sun_fire:nth-child(29) {
  animation: sunFire 14637ms infinite linear;
}
#ui .sun_fire:nth-child(29) .sun_fire_inner {
  width: 58px;
  height: 58px;
  border-top: 11px solid orange;
  border-right: 9px solid orange;
  border-bottom: 7px solid orange;
  border-left: 7px solid orange;
  border-radius: 58% 54% 70% 39%;
  animation: sunFireInner 4710ms infinite alternate linear;
}
#ui .sun_fire:nth-child(30) {
  animation: sunFire 8452ms infinite linear;
}
#ui .sun_fire:nth-child(30) .sun_fire_inner {
  width: 55px;
  height: 55px;
  border-top: 9px solid orange;
  border-right: 13px solid orange;
  border-bottom: 12px solid orange;
  border-left: 7px solid orange;
  border-radius: 16% 46% 20% 55%;
  animation: sunFireInner 4024ms infinite alternate linear;
}
#ui .sun_fire:nth-child(31) {
  animation: sunFire 5065ms infinite linear;
}
#ui .sun_fire:nth-child(31) .sun_fire_inner {
  width: 83px;
  height: 83px;
  border-top: 6px solid orange;
  border-right: 11px solid orange;
  border-bottom: 13px solid orange;
  border-left: 7px solid orange;
  border-radius: 14% 53% 70% 34%;
  animation: sunFireInner 2024ms infinite alternate linear;
}
#ui .sun_fire:nth-child(32) {
  animation: sunFire 8119ms infinite linear;
}
#ui .sun_fire:nth-child(32) .sun_fire_inner {
  width: 124px;
  height: 124px;
  border-top: 10px solid orange;
  border-right: 6px solid orange;
  border-bottom: 7px solid orange;
  border-left: 6px solid orange;
  border-radius: 47% 69% 56% 65%;
  animation: sunFireInner 2062ms infinite alternate linear;
}
#ui .sun_fire:nth-child(33) {
  animation: sunFire 10563ms infinite linear;
}
#ui .sun_fire:nth-child(33) .sun_fire_inner {
  width: 62px;
  height: 62px;
  border-top: 13px solid orange;
  border-right: 13px solid orange;
  border-bottom: 12px solid orange;
  border-left: 13px solid orange;
  border-radius: 45% 79% 76% 39%;
  animation: sunFireInner 4987ms infinite alternate linear;
}
#ui .sun_fire:nth-child(34) {
  animation: sunFire 6987ms infinite linear;
}
#ui .sun_fire:nth-child(34) .sun_fire_inner {
  width: 114px;
  height: 114px;
  border-top: 9px solid orange;
  border-right: 14px solid orange;
  border-bottom: 14px solid orange;
  border-left: 10px solid orange;
  border-radius: 45% 36% 50% 18%;
  animation: sunFireInner 3318ms infinite alternate linear;
}
#ui .sun_fire:nth-child(35) {
  animation: sunFire 9548ms infinite linear;
}
#ui .sun_fire:nth-child(35) .sun_fire_inner {
  width: 137px;
  height: 137px;
  border-top: 10px solid orange;
  border-right: 13px solid orange;
  border-bottom: 12px solid orange;
  border-left: 6px solid orange;
  border-radius: 61% 57% 55% 25%;
  animation: sunFireInner 2087ms infinite alternate linear;
}
#ui .sun_fire:nth-child(36) {
  animation: sunFire 12741ms infinite linear;
}
#ui .sun_fire:nth-child(36) .sun_fire_inner {
  width: 94px;
  height: 94px;
  border-top: 15px solid orange;
  border-right: 12px solid orange;
  border-bottom: 10px solid orange;
  border-left: 7px solid orange;
  border-radius: 46% 70% 48% 46%;
  animation: sunFireInner 4650ms infinite alternate linear;
}
#ui .sun_fire:nth-child(37) {
  animation: sunFire 5695ms infinite linear;
}
#ui .sun_fire:nth-child(37) .sun_fire_inner {
  width: 118px;
  height: 118px;
  border-top: 12px solid orange;
  border-right: 10px solid orange;
  border-bottom: 15px solid orange;
  border-left: 9px solid orange;
  border-radius: 28% 46% 50% 30%;
  animation: sunFireInner 4417ms infinite alternate linear;
}
#ui .sun_fire:nth-child(38) {
  animation: sunFire 5178ms infinite linear;
}
#ui .sun_fire:nth-child(38) .sun_fire_inner {
  width: 79px;
  height: 79px;
  border-top: 9px solid orange;
  border-right: 13px solid orange;
  border-bottom: 13px solid orange;
  border-left: 10px solid orange;
  border-radius: 29% 24% 73% 68%;
  animation: sunFireInner 2051ms infinite alternate linear;
}
#ui .sun_fire:nth-child(39) {
  animation: sunFire 12136ms infinite linear;
}
#ui .sun_fire:nth-child(39) .sun_fire_inner {
  width: 73px;
  height: 73px;
  border-top: 13px solid orange;
  border-right: 13px solid orange;
  border-bottom: 7px solid orange;
  border-left: 15px solid orange;
  border-radius: 21% 19% 80% 15%;
  animation: sunFireInner 4361ms infinite alternate linear;
}
#ui .sun_fire:nth-child(40) {
  animation: sunFire 13234ms infinite linear;
}
#ui .sun_fire:nth-child(40) .sun_fire_inner {
  width: 96px;
  height: 96px;
  border-top: 8px solid orange;
  border-right: 6px solid orange;
  border-bottom: 15px solid orange;
  border-left: 15px solid orange;
  border-radius: 59% 59% 13% 60%;
  animation: sunFireInner 3123ms infinite alternate linear;
}
#ui .sun_fire:nth-child(41) {
  animation: sunFire 9633ms infinite linear;
}
#ui .sun_fire:nth-child(41) .sun_fire_inner {
  width: 81px;
  height: 81px;
  border-top: 15px solid orange;
  border-right: 7px solid orange;
  border-bottom: 6px solid orange;
  border-left: 15px solid orange;
  border-radius: 12% 72% 30% 45%;
  animation: sunFireInner 3293ms infinite alternate linear;
}
#ui .sun_fire:nth-child(42) {
  animation: sunFire 6158ms infinite linear;
}
#ui .sun_fire:nth-child(42) .sun_fire_inner {
  width: 113px;
  height: 113px;
  border-top: 15px solid orange;
  border-right: 10px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 15% 75% 78% 23%;
  animation: sunFireInner 2698ms infinite alternate linear;
}
#ui .sun_fire:nth-child(43) {
  animation: sunFire 5604ms infinite linear;
}
#ui .sun_fire:nth-child(43) .sun_fire_inner {
  width: 75px;
  height: 75px;
  border-top: 13px solid orange;
  border-right: 11px solid orange;
  border-bottom: 12px solid orange;
  border-left: 8px solid orange;
  border-radius: 34% 80% 34% 66%;
  animation: sunFireInner 4996ms infinite alternate linear;
}
#ui .sun_fire:nth-child(44) {
  animation: sunFire 8313ms infinite linear;
}
#ui .sun_fire:nth-child(44) .sun_fire_inner {
  width: 79px;
  height: 79px;
  border-top: 8px solid orange;
  border-right: 6px solid orange;
  border-bottom: 13px solid orange;
  border-left: 15px solid orange;
  border-radius: 74% 70% 41% 79%;
  animation: sunFireInner 2261ms infinite alternate linear;
}
#ui .sun_fire:nth-child(45) {
  animation: sunFire 13564ms infinite linear;
}
#ui .sun_fire:nth-child(45) .sun_fire_inner {
  width: 86px;
  height: 86px;
  border-top: 8px solid orange;
  border-right: 15px solid orange;
  border-bottom: 15px solid orange;
  border-left: 12px solid orange;
  border-radius: 17% 69% 12% 51%;
  animation: sunFireInner 3092ms infinite alternate linear;
}
#ui .sun_fire:nth-child(46) {
  animation: sunFire 12392ms infinite linear;
}
#ui .sun_fire:nth-child(46) .sun_fire_inner {
  width: 130px;
  height: 130px;
  border-top: 13px solid orange;
  border-right: 12px solid orange;
  border-bottom: 12px solid orange;
  border-left: 10px solid orange;
  border-radius: 20% 21% 20% 51%;
  animation: sunFireInner 2069ms infinite alternate linear;
}
#ui .sun_fire:nth-child(47) {
  animation: sunFire 10105ms infinite linear;
}
#ui .sun_fire:nth-child(47) .sun_fire_inner {
  width: 109px;
  height: 109px;
  border-top: 15px solid orange;
  border-right: 6px solid orange;
  border-bottom: 9px solid orange;
  border-left: 7px solid orange;
  border-radius: 64% 61% 77% 16%;
  animation: sunFireInner 2305ms infinite alternate linear;
}
#ui .sun_fire:nth-child(48) {
  animation: sunFire 11764ms infinite linear;
}
#ui .sun_fire:nth-child(48) .sun_fire_inner {
  width: 120px;
  height: 120px;
  border-top: 14px solid orange;
  border-right: 12px solid orange;
  border-bottom: 7px solid orange;
  border-left: 8px solid orange;
  border-radius: 22% 42% 28% 37%;
  animation: sunFireInner 4540ms infinite alternate linear;
}
#ui .sun_fire:nth-child(49) {
  animation: sunFire 9233ms infinite linear;
}
#ui .sun_fire:nth-child(49) .sun_fire_inner {
  width: 95px;
  height: 95px;
  border-top: 6px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  border-left: 15px solid orange;
  border-radius: 45% 59% 65% 44%;
  animation: sunFireInner 4464ms infinite alternate linear;
}
#ui .sun_fire:nth-child(50) {
  animation: sunFire 9653ms infinite linear;
}
#ui .sun_fire:nth-child(50) .sun_fire_inner {
  width: 72px;
  height: 72px;
  border-top: 6px solid orange;
  border-right: 13px solid orange;
  border-bottom: 9px solid orange;
  border-left: 8px solid orange;
  border-radius: 46% 25% 72% 44%;
  animation: sunFireInner 2589ms infinite alternate linear;
}
#ui .sun_fire:nth-child(51) {
  animation: sunFire 11045ms infinite linear;
}
#ui .sun_fire:nth-child(51) .sun_fire_inner {
  width: 63px;
  height: 63px;
  border-top: 10px solid orange;
  border-right: 9px solid orange;
  border-bottom: 15px solid orange;
  border-left: 7px solid orange;
  border-radius: 74% 61% 33% 55%;
  animation: sunFireInner 4048ms infinite alternate linear;
}
#ui .sun_fire:nth-child(52) {
  animation: sunFire 13986ms infinite linear;
}
#ui .sun_fire:nth-child(52) .sun_fire_inner {
  width: 48px;
  height: 48px;
  border-top: 13px solid orange;
  border-right: 10px solid orange;
  border-bottom: 14px solid orange;
  border-left: 12px solid orange;
  border-radius: 46% 58% 41% 14%;
  animation: sunFireInner 4010ms infinite alternate linear;
}
#ui .sun_fire:nth-child(53) {
  animation: sunFire 5205ms infinite linear;
}
#ui .sun_fire:nth-child(53) .sun_fire_inner {
  width: 62px;
  height: 62px;
  border-top: 7px solid orange;
  border-right: 10px solid orange;
  border-bottom: 10px solid orange;
  border-left: 9px solid orange;
  border-radius: 48% 36% 20% 44%;
  animation: sunFireInner 2712ms infinite alternate linear;
}
#ui .sun_fire:nth-child(54) {
  animation: sunFire 13241ms infinite linear;
}
#ui .sun_fire:nth-child(54) .sun_fire_inner {
  width: 94px;
  height: 94px;
  border-top: 10px solid orange;
  border-right: 10px solid orange;
  border-bottom: 12px solid orange;
  border-left: 11px solid orange;
  border-radius: 17% 60% 61% 70%;
  animation: sunFireInner 4907ms infinite alternate linear;
}
#ui .sun_fire:nth-child(55) {
  animation: sunFire 8445ms infinite linear;
}
#ui .sun_fire:nth-child(55) .sun_fire_inner {
  width: 121px;
  height: 121px;
  border-top: 6px solid orange;
  border-right: 7px solid orange;
  border-bottom: 15px solid orange;
  border-left: 13px solid orange;
  border-radius: 72% 47% 14% 62%;
  animation: sunFireInner 4251ms infinite alternate linear;
}
#ui .sun_fire:nth-child(56) {
  animation: sunFire 12748ms infinite linear;
}
#ui .sun_fire:nth-child(56) .sun_fire_inner {
  width: 120px;
  height: 120px;
  border-top: 11px solid orange;
  border-right: 13px solid orange;
  border-bottom: 7px solid orange;
  border-left: 8px solid orange;
  border-radius: 54% 49% 27% 47%;
  animation: sunFireInner 2577ms infinite alternate linear;
}
#ui .sun_fire:nth-child(57) {
  animation: sunFire 10621ms infinite linear;
}
#ui .sun_fire:nth-child(57) .sun_fire_inner {
  width: 130px;
  height: 130px;
  border-top: 12px solid orange;
  border-right: 6px solid orange;
  border-bottom: 7px solid orange;
  border-left: 10px solid orange;
  border-radius: 26% 64% 65% 63%;
  animation: sunFireInner 2913ms infinite alternate linear;
}
#ui .sun_fire:nth-child(58) {
  animation: sunFire 9226ms infinite linear;
}
#ui .sun_fire:nth-child(58) .sun_fire_inner {
  width: 118px;
  height: 118px;
  border-top: 7px solid orange;
  border-right: 10px solid orange;
  border-bottom: 14px solid orange;
  border-left: 12px solid orange;
  border-radius: 29% 65% 38% 20%;
  animation: sunFireInner 3350ms infinite alternate linear;
}
#ui .sun_fire:nth-child(59) {
  animation: sunFire 8895ms infinite linear;
}
#ui .sun_fire:nth-child(59) .sun_fire_inner {
  width: 79px;
  height: 79px;
  border-top: 15px solid orange;
  border-right: 13px solid orange;
  border-bottom: 9px solid orange;
  border-left: 8px solid orange;
  border-radius: 69% 36% 58% 59%;
  animation: sunFireInner 2923ms infinite alternate linear;
}
#ui .sun_fire:nth-child(60) {
  animation: sunFire 14508ms infinite linear;
}
#ui .sun_fire:nth-child(60) .sun_fire_inner {
  width: 47px;
  height: 47px;
  border-top: 10px solid orange;
  border-right: 10px solid orange;
  border-bottom: 14px solid orange;
  border-left: 15px solid orange;
  border-radius: 14% 69% 11% 20%;
  animation: sunFireInner 2866ms infinite alternate linear;
}
#ui .sun_fire:nth-child(61) {
  animation: sunFire 8743ms infinite linear;
}
#ui .sun_fire:nth-child(61) .sun_fire_inner {
  width: 137px;
  height: 137px;
  border-top: 13px solid orange;
  border-right: 8px solid orange;
  border-bottom: 7px solid orange;
  border-left: 15px solid orange;
  border-radius: 17% 22% 38% 26%;
  animation: sunFireInner 2893ms infinite alternate linear;
}
#ui .sun_fire:nth-child(62) {
  animation: sunFire 10132ms infinite linear;
}
#ui .sun_fire:nth-child(62) .sun_fire_inner {
  width: 83px;
  height: 83px;
  border-top: 13px solid orange;
  border-right: 10px solid orange;
  border-bottom: 8px solid orange;
  border-left: 6px solid orange;
  border-radius: 58% 23% 26% 36%;
  animation: sunFireInner 4916ms infinite alternate linear;
}
#ui .sun_fire:nth-child(63) {
  animation: sunFire 9469ms infinite linear;
}
#ui .sun_fire:nth-child(63) .sun_fire_inner {
  width: 102px;
  height: 102px;
  border-top: 14px solid orange;
  border-right: 6px solid orange;
  border-bottom: 6px solid orange;
  border-left: 11px solid orange;
  border-radius: 35% 13% 79% 34%;
  animation: sunFireInner 2935ms infinite alternate linear;
}
#ui .sun_fire:nth-child(64) {
  animation: sunFire 14109ms infinite linear;
}
#ui .sun_fire:nth-child(64) .sun_fire_inner {
  width: 107px;
  height: 107px;
  border-top: 9px solid orange;
  border-right: 11px solid orange;
  border-bottom: 15px solid orange;
  border-left: 14px solid orange;
  border-radius: 34% 35% 68% 61%;
  animation: sunFireInner 4023ms infinite alternate linear;
}
#ui .sun_fire:nth-child(65) {
  animation: sunFire 9463ms infinite linear;
}
#ui .sun_fire:nth-child(65) .sun_fire_inner {
  width: 43px;
  height: 43px;
  border-top: 9px solid orange;
  border-right: 15px solid orange;
  border-bottom: 15px solid orange;
  border-left: 10px solid orange;
  border-radius: 44% 44% 62% 19%;
  animation: sunFireInner 3293ms infinite alternate linear;
}
#ui .sun_fire:nth-child(66) {
  animation: sunFire 14420ms infinite linear;
}
#ui .sun_fire:nth-child(66) .sun_fire_inner {
  width: 65px;
  height: 65px;
  border-top: 15px solid orange;
  border-right: 10px solid orange;
  border-bottom: 10px solid orange;
  border-left: 13px solid orange;
  border-radius: 74% 63% 48% 70%;
  animation: sunFireInner 4678ms infinite alternate linear;
}
#ui .sun_fire:nth-child(67) {
  animation: sunFire 8895ms infinite linear;
}
#ui .sun_fire:nth-child(67) .sun_fire_inner {
  width: 104px;
  height: 104px;
  border-top: 6px solid orange;
  border-right: 11px solid orange;
  border-bottom: 10px solid orange;
  border-left: 15px solid orange;
  border-radius: 47% 35% 62% 77%;
  animation: sunFireInner 3891ms infinite alternate linear;
}
#ui .sun_fire:nth-child(68) {
  animation: sunFire 10504ms infinite linear;
}
#ui .sun_fire:nth-child(68) .sun_fire_inner {
  width: 139px;
  height: 139px;
  border-top: 7px solid orange;
  border-right: 9px solid orange;
  border-bottom: 6px solid orange;
  border-left: 13px solid orange;
  border-radius: 38% 52% 76% 60%;
  animation: sunFireInner 3130ms infinite alternate linear;
}
#ui .sun_fire:nth-child(69) {
  animation: sunFire 12851ms infinite linear;
}
#ui .sun_fire:nth-child(69) .sun_fire_inner {
  width: 77px;
  height: 77px;
  border-top: 10px solid orange;
  border-right: 8px solid orange;
  border-bottom: 7px solid orange;
  border-left: 8px solid orange;
  border-radius: 76% 60% 37% 63%;
  animation: sunFireInner 4357ms infinite alternate linear;
}
#ui .sun_fire:nth-child(70) {
  animation: sunFire 9262ms infinite linear;
}
#ui .sun_fire:nth-child(70) .sun_fire_inner {
  width: 64px;
  height: 64px;
  border-top: 7px solid orange;
  border-right: 12px solid orange;
  border-bottom: 11px solid orange;
  border-left: 12px solid orange;
  border-radius: 15% 80% 57% 25%;
  animation: sunFireInner 3904ms infinite alternate linear;
}
#ui .sun_fire:nth-child(71) {
  animation: sunFire 6052ms infinite linear;
}
#ui .sun_fire:nth-child(71) .sun_fire_inner {
  width: 80px;
  height: 80px;
  border-top: 8px solid orange;
  border-right: 7px solid orange;
  border-bottom: 6px solid orange;
  border-left: 13px solid orange;
  border-radius: 45% 12% 32% 36%;
  animation: sunFireInner 3715ms infinite alternate linear;
}
#ui .sun_fire:nth-child(72) {
  animation: sunFire 7840ms infinite linear;
}
#ui .sun_fire:nth-child(72) .sun_fire_inner {
  width: 107px;
  height: 107px;
  border-top: 6px solid orange;
  border-right: 13px solid orange;
  border-bottom: 6px solid orange;
  border-left: 7px solid orange;
  border-radius: 13% 21% 38% 53%;
  animation: sunFireInner 2097ms infinite alternate linear;
}
#ui .sun_fire:nth-child(73) {
  animation: sunFire 9409ms infinite linear;
}
#ui .sun_fire:nth-child(73) .sun_fire_inner {
  width: 116px;
  height: 116px;
  border-top: 8px solid orange;
  border-right: 12px solid orange;
  border-bottom: 12px solid orange;
  border-left: 9px solid orange;
  border-radius: 18% 60% 20% 32%;
  animation: sunFireInner 4914ms infinite alternate linear;
}
#ui .sun_fire:nth-child(74) {
  animation: sunFire 13718ms infinite linear;
}
#ui .sun_fire:nth-child(74) .sun_fire_inner {
  width: 130px;
  height: 130px;
  border-top: 8px solid orange;
  border-right: 13px solid orange;
  border-bottom: 13px solid orange;
  border-left: 11px solid orange;
  border-radius: 28% 67% 31% 74%;
  animation: sunFireInner 3847ms infinite alternate linear;
}
#ui .sun_fire:nth-child(75) {
  animation: sunFire 14091ms infinite linear;
}
#ui .sun_fire:nth-child(75) .sun_fire_inner {
  width: 50px;
  height: 50px;
  border-top: 7px solid orange;
  border-right: 6px solid orange;
  border-bottom: 8px solid orange;
  border-left: 13px solid orange;
  border-radius: 57% 53% 39% 51%;
  animation: sunFireInner 4311ms infinite alternate linear;
}
#ui .sun_fire:nth-child(76) {
  animation: sunFire 13154ms infinite linear;
}
#ui .sun_fire:nth-child(76) .sun_fire_inner {
  width: 78px;
  height: 78px;
  border-top: 11px solid orange;
  border-right: 15px solid orange;
  border-bottom: 13px solid orange;
  border-left: 11px solid orange;
  border-radius: 48% 48% 32% 13%;
  animation: sunFireInner 3903ms infinite alternate linear;
}
#ui .sun_fire:nth-child(77) {
  animation: sunFire 13959ms infinite linear;
}
#ui .sun_fire:nth-child(77) .sun_fire_inner {
  width: 65px;
  height: 65px;
  border-top: 14px solid orange;
  border-right: 7px solid orange;
  border-bottom: 9px solid orange;
  border-left: 6px solid orange;
  border-radius: 16% 63% 63% 42%;
  animation: sunFireInner 3008ms infinite alternate linear;
}
#ui .sun_fire:nth-child(78) {
  animation: sunFire 9833ms infinite linear;
}
#ui .sun_fire:nth-child(78) .sun_fire_inner {
  width: 132px;
  height: 132px;
  border-top: 14px solid orange;
  border-right: 13px solid orange;
  border-bottom: 9px solid orange;
  border-left: 11px solid orange;
  border-radius: 31% 56% 12% 20%;
  animation: sunFireInner 4231ms infinite alternate linear;
}
#ui .sun_fire:nth-child(79) {
  animation: sunFire 5549ms infinite linear;
}
#ui .sun_fire:nth-child(79) .sun_fire_inner {
  width: 113px;
  height: 113px;
  border-top: 9px solid orange;
  border-right: 15px solid orange;
  border-bottom: 9px solid orange;
  border-left: 7px solid orange;
  border-radius: 70% 55% 70% 56%;
  animation: sunFireInner 2905ms infinite alternate linear;
}
#ui .sun_fire:nth-child(80) {
  animation: sunFire 12773ms infinite linear;
}
#ui .sun_fire:nth-child(80) .sun_fire_inner {
  width: 138px;
  height: 138px;
  border-top: 13px solid orange;
  border-right: 12px solid orange;
  border-bottom: 8px solid orange;
  border-left: 8px solid orange;
  border-radius: 61% 67% 14% 14%;
  animation: sunFireInner 3192ms infinite alternate linear;
}
#ui .sun_fire:nth-child(81) {
  animation: sunFire 11984ms infinite linear;
}
#ui .sun_fire:nth-child(81) .sun_fire_inner {
  width: 130px;
  height: 130px;
  border-top: 8px solid orange;
  border-right: 10px solid orange;
  border-bottom: 12px solid orange;
  border-left: 6px solid orange;
  border-radius: 59% 74% 49% 67%;
  animation: sunFireInner 2705ms infinite alternate linear;
}
#ui .sun_fire:nth-child(82) {
  animation: sunFire 13014ms infinite linear;
}
#ui .sun_fire:nth-child(82) .sun_fire_inner {
  width: 104px;
  height: 104px;
  border-top: 12px solid orange;
  border-right: 14px solid orange;
  border-bottom: 7px solid orange;
  border-left: 7px solid orange;
  border-radius: 64% 28% 48% 50%;
  animation: sunFireInner 2318ms infinite alternate linear;
}
#ui .sun_fire:nth-child(83) {
  animation: sunFire 13414ms infinite linear;
}
#ui .sun_fire:nth-child(83) .sun_fire_inner {
  width: 95px;
  height: 95px;
  border-top: 7px solid orange;
  border-right: 9px solid orange;
  border-bottom: 10px solid orange;
  border-left: 14px solid orange;
  border-radius: 39% 60% 15% 52%;
  animation: sunFireInner 2512ms infinite alternate linear;
}
#ui .sun_fire:nth-child(84) {
  animation: sunFire 14367ms infinite linear;
}
#ui .sun_fire:nth-child(84) .sun_fire_inner {
  width: 114px;
  height: 114px;
  border-top: 8px solid orange;
  border-right: 14px solid orange;
  border-bottom: 8px solid orange;
  border-left: 13px solid orange;
  border-radius: 72% 54% 51% 28%;
  animation: sunFireInner 4349ms infinite alternate linear;
}
#ui .sun_fire:nth-child(85) {
  animation: sunFire 12663ms infinite linear;
}
#ui .sun_fire:nth-child(85) .sun_fire_inner {
  width: 121px;
  height: 121px;
  border-top: 11px solid orange;
  border-right: 9px solid orange;
  border-bottom: 10px solid orange;
  border-left: 15px solid orange;
  border-radius: 65% 19% 56% 78%;
  animation: sunFireInner 3779ms infinite alternate linear;
}
#ui .sun_fire:nth-child(86) {
  animation: sunFire 9013ms infinite linear;
}
#ui .sun_fire:nth-child(86) .sun_fire_inner {
  width: 62px;
  height: 62px;
  border-top: 10px solid orange;
  border-right: 14px solid orange;
  border-bottom: 11px solid orange;
  border-left: 6px solid orange;
  border-radius: 26% 26% 42% 49%;
  animation: sunFireInner 2139ms infinite alternate linear;
}
#ui .sun_fire:nth-child(87) {
  animation: sunFire 10642ms infinite linear;
}
#ui .sun_fire:nth-child(87) .sun_fire_inner {
  width: 78px;
  height: 78px;
  border-top: 11px solid orange;
  border-right: 9px solid orange;
  border-bottom: 12px solid orange;
  border-left: 8px solid orange;
  border-radius: 32% 14% 69% 48%;
  animation: sunFireInner 3935ms infinite alternate linear;
}
#ui .sun_fire:nth-child(88) {
  animation: sunFire 10775ms infinite linear;
}
#ui .sun_fire:nth-child(88) .sun_fire_inner {
  width: 99px;
  height: 99px;
  border-top: 14px solid orange;
  border-right: 10px solid orange;
  border-bottom: 15px solid orange;
  border-left: 7px solid orange;
  border-radius: 46% 23% 73% 70%;
  animation: sunFireInner 3525ms infinite alternate linear;
}
#ui .sun_fire:nth-child(89) {
  animation: sunFire 6777ms infinite linear;
}
#ui .sun_fire:nth-child(89) .sun_fire_inner {
  width: 106px;
  height: 106px;
  border-top: 13px solid orange;
  border-right: 9px solid orange;
  border-bottom: 13px solid orange;
  border-left: 15px solid orange;
  border-radius: 27% 57% 16% 61%;
  animation: sunFireInner 4477ms infinite alternate linear;
}
#ui .sun_fire:nth-child(90) {
  animation: sunFire 6756ms infinite linear;
}
#ui .sun_fire:nth-child(90) .sun_fire_inner {
  width: 124px;
  height: 124px;
  border-top: 8px solid orange;
  border-right: 7px solid orange;
  border-bottom: 12px solid orange;
  border-left: 7px solid orange;
  border-radius: 17% 67% 56% 50%;
  animation: sunFireInner 3690ms infinite alternate linear;
}
#ui .sun_fire:nth-child(91) {
  animation: sunFire 5603ms infinite linear;
}
#ui .sun_fire:nth-child(91) .sun_fire_inner {
  width: 107px;
  height: 107px;
  border-top: 13px solid orange;
  border-right: 15px solid orange;
  border-bottom: 6px solid orange;
  border-left: 15px solid orange;
  border-radius: 21% 28% 21% 55%;
  animation: sunFireInner 4796ms infinite alternate linear;
}
#ui .sun_fire:nth-child(92) {
  animation: sunFire 13700ms infinite linear;
}
#ui .sun_fire:nth-child(92) .sun_fire_inner {
  width: 47px;
  height: 47px;
  border-top: 13px solid orange;
  border-right: 13px solid orange;
  border-bottom: 14px solid orange;
  border-left: 13px solid orange;
  border-radius: 54% 16% 22% 48%;
  animation: sunFireInner 4155ms infinite alternate linear;
}
#ui .sun_fire:nth-child(93) {
  animation: sunFire 11993ms infinite linear;
}
#ui .sun_fire:nth-child(93) .sun_fire_inner {
  width: 73px;
  height: 73px;
  border-top: 6px solid orange;
  border-right: 9px solid orange;
  border-bottom: 7px solid orange;
  border-left: 14px solid orange;
  border-radius: 33% 44% 36% 38%;
  animation: sunFireInner 4566ms infinite alternate linear;
}
#ui .sun_fire:nth-child(94) {
  animation: sunFire 11291ms infinite linear;
}
#ui .sun_fire:nth-child(94) .sun_fire_inner {
  width: 87px;
  height: 87px;
  border-top: 11px solid orange;
  border-right: 7px solid orange;
  border-bottom: 6px solid orange;
  border-left: 14px solid orange;
  border-radius: 49% 60% 75% 29%;
  animation: sunFireInner 3088ms infinite alternate linear;
}
#ui .sun_fire:nth-child(95) {
  animation: sunFire 9406ms infinite linear;
}
#ui .sun_fire:nth-child(95) .sun_fire_inner {
  width: 135px;
  height: 135px;
  border-top: 15px solid orange;
  border-right: 13px solid orange;
  border-bottom: 15px solid orange;
  border-left: 6px solid orange;
  border-radius: 31% 35% 16% 22%;
  animation: sunFireInner 2383ms infinite alternate linear;
}
#ui .sun_fire:nth-child(96) {
  animation: sunFire 13608ms infinite linear;
}
#ui .sun_fire:nth-child(96) .sun_fire_inner {
  width: 116px;
  height: 116px;
  border-top: 8px solid orange;
  border-right: 7px solid orange;
  border-bottom: 14px solid orange;
  border-left: 6px solid orange;
  border-radius: 77% 21% 28% 16%;
  animation: sunFireInner 4052ms infinite alternate linear;
}
#ui .sun_fire:nth-child(97) {
  animation: sunFire 13305ms infinite linear;
}
#ui .sun_fire:nth-child(97) .sun_fire_inner {
  width: 95px;
  height: 95px;
  border-top: 11px solid orange;
  border-right: 6px solid orange;
  border-bottom: 6px solid orange;
  border-left: 13px solid orange;
  border-radius: 34% 20% 65% 30%;
  animation: sunFireInner 3746ms infinite alternate linear;
}
#ui .sun_fire:nth-child(98) {
  animation: sunFire 8822ms infinite linear;
}
#ui .sun_fire:nth-child(98) .sun_fire_inner {
  width: 125px;
  height: 125px;
  border-top: 8px solid orange;
  border-right: 13px solid orange;
  border-bottom: 6px solid orange;
  border-left: 12px solid orange;
  border-radius: 44% 17% 77% 36%;
  animation: sunFireInner 4264ms infinite alternate linear;
}
#ui .sun_fire:nth-child(99) {
  animation: sunFire 7769ms infinite linear;
}
#ui .sun_fire:nth-child(99) .sun_fire_inner {
  width: 116px;
  height: 116px;
  border-top: 15px solid orange;
  border-right: 12px solid orange;
  border-bottom: 13px solid orange;
  border-left: 14px solid orange;
  border-radius: 63% 30% 21% 78%;
  animation: sunFireInner 3859ms infinite alternate linear;
}
#ui .sun_fire:nth-child(100) {
  animation: sunFire 8668ms infinite linear;
}
#ui .sun_fire:nth-child(100) .sun_fire_inner {
  width: 137px;
  height: 137px;
  border-top: 12px solid orange;
  border-right: 6px solid orange;
  border-bottom: 13px solid orange;
  border-left: 12px solid orange;
  border-radius: 44% 72% 13% 76%;
  animation: sunFireInner 2008ms infinite alternate linear;
}

@keyframes sunFire {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes sunFireInner {
  0% {
    transform: translate(90px, -50%) rotateZ(0deg);
  }
  50% {
    transform: translate(140px, -50%) rotateZ(180deg);
  }
  100% {
    transform: translate(90px, -50%) rotateZ(360deg);
  }
}